{% extends 'base.html' %}
{% load static %}

{% block header %}
<script type="text/javascript" src="{% static 'pages/js/home.js' %}"></script>
<div>
    <div id="bannerTop" class="bannerBig">
        <h1 id="bannerTitle">Jamos Blood</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<body>

    <div id="MailingListContainer">
        <div>
            <h3>Mailing List</h3>
        </div>
        <form id="emailField">
            <input id="email" type="text" placeholder="Your Email">
            <input id="submit" class="btn" type="submit" value="Sign Up">
        </form>
    </div>
    <div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar blandit sodales. Maecenas commodo
            massa
            nisl, vel consectetur ligula pellentesque non. Nullam nisl purus, consequat sed sem eget, lobortis sodales
            nisl.
            Praesent vitae fringilla orci. Suspendisse sagittis maximus sem, ac tristique nibh placerat quis.
            Mauris aliquam magna quam, dignissim viverra mauris porttitor eget. Ut nec consequat nisi. Nunc molestie
            magna
            sit amet consectetur ullamcorper. Fusce justo justo, venenatis at nulla ut, tincidunt ultricies sapien.
            Etiam
            interdum viverra convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos. In sapien felis, aliquet ac mi id, auctor rutrum metus. Praesent nec orci at erat ultrices
            lobortis.
            Aliquam quis lacus vel felis vulputate interdum a non augue. Proin malesuada nulla ut ipsum congue, eget
            consectetur metus dictum. Etiam lorem massa, suscipit id mollis id, venenatis mollis ipsum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar blandit sodales. Maecenas commodo
            massa
            nisl, vel consectetur ligula pellentesque non. Nullam nisl purus, consequat sed sem eget, lobortis sodales
            nisl.
            Praesent vitae fringilla orci. Suspendisse sagittis maximus sem, ac tristique nibh placerat quis.
            Mauris aliquam magna quam, dignissim viverra mauris porttitor eget. Ut nec consequat nisi. Nunc molestie
            magna
            sit amet consectetur ullamcorper. Fusce justo justo, venenatis at nulla ut, tincidunt ultricies sapien.
            Etiam
            interdum viverra convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos. In sapien felis, aliquet ac mi id, auctor rutrum metus. Praesent nec orci at erat ultrices
            lobortis.
            Aliquam quis lacus vel felis vulputate interdum a non augue. Proin malesuada nulla ut ipsum congue, eget
            consectetur metus dictum. Etiam lorem massa, suscipit id mollis id, venenatis mollis ipsum.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar blandit sodales. Maecenas commodo
            massa
            nisl, vel consectetur ligula pellentesque non. Nullam nisl purus, consequat sed sem eget, lobortis sodales
            nisl.
            Praesent vitae fringilla orci. Suspendisse sagittis maximus sem, ac tristique nibh placerat quis.
            Mauris aliquam magna quam, dignissim viverra mauris porttitor eget. Ut nec consequat nisi. Nunc molestie
            magna
            sit amet consectetur ullamcorper. Fusce justo justo, venenatis at nulla ut, tincidunt ultricies sapien.
            Etiam
            interdum viverra convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos. In sapien felis, aliquet ac mi id, auctor rutrum metus. Praesent nec orci at erat ultrices
            lobortis.
            Aliquam quis lacus vel felis vulputate interdum a non augue. Proin malesuada nulla ut ipsum congue, eget
            consectetur metus dictum. Etiam lorem massa, suscipit id mollis id, venenatis mollis ipsum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar blandit sodales. Maecenas commodo
            massa
            nisl, vel consectetur ligula pellentesque non. Nullam nisl purus, consequat sed sem eget, lobortis sodales
            nisl.
            Praesent vitae fringilla orci. Suspendisse sagittis maximus sem, ac tristique nibh placerat quis.
            Mauris aliquam magna quam, dignissim viverra mauris porttitor eget. Ut nec consequat nisi. Nunc molestie
            magna
            sit amet consectetur ullamcorper. Fusce justo justo, venenatis at nulla ut, tincidunt ultricies sapien.
            Etiam
            interdum viverra convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos. In sapien felis, aliquet ac mi id, auctor rutrum metus. Praesent nec orci at erat ultrices
            lobortis.
            Aliquam quis lacus vel felis vulputate interdum a non augue. Proin malesuada nulla ut ipsum congue, eget
            consectetur metus dictum. Etiam lorem massa, suscipit id mollis id, venenatis mollis ipsum.</p>

        <p>Suspendisse et vulputate quam. Mauris iaculis, nisi at consequat sodales, sapien sapien fermentum ante, vitae
            consectetur eros odio nec arcu. Fusce consequat eu nisi eget accumsan. Vestibulum erat augue, tincidunt ut
            finibus vel, scelerisque sed sem. Mauris accumsan mauris sit amet odio pretium, ac elementum nunc
            condimentum.
            Aliquam rhoncus eget felis quis consequat. Quisque ultricies nisi nec mollis ornare. Praesent vel molestie
            ligula. Nam at arcu nec ligula semper molestie eget a elit. Nam ornare aliquet dolor, nec dapibus eros.</p>

        <p>
            Why are the fonts all frozen?
        </p>
    </div>
</body>
{% endblock %}
