@font-face {
    font-family: BaddEst;
    src: url('../fonts/BaddEst/Rough/BaddestRough.otf');
}

.bannerBig {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
    height: 100vh;
    transition-duration: 0.6s;
}

.bannerShrink {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
    height: 20vh;
    width: 100vw;
    font-size: 50%;
    transition-duration: 0.7s;
}

p {
    font-family: BaddEst, monospace;
    font-size: 2em;
}

h1 {
    font-family: BaddEst, monospace;
    font-size: 10em;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: BaddEst, monospace;
    font-size: 2em;
}